.root {
  .title {
    font-size: 20px;
    font-weight: 600;
  }
  .restaurantsList {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }
}
