.root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 48px;
}
.item_active,
.item_active:hover {
  background-color: var(--light);
  outline: 2px solid var(--main);
  color: var(--main);
}
