.root {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-bottom: 48px;
  gap: 16px;
  @media only screen and (max-width: 600px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
.item_active,
.item_active:hover {
  background-color: var(--light);
  outline: 2px solid var(--main);
  color: var(--main);
}
