.root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid var(--gray-light);
  border-radius: 16px;
  &:hover {
    opacity: 0.75;
  }
  .img_wrapper {
    img {
      width: 100%;
      overflow: hidden;
      border-radius: 16px 16px 0 0;
    }
  }
  .info {
    display: flex;
    flex-direction: column;
    padding: 16px;
    .name {
      color: var(--black);
      font-size: 18px;
      font-weight: 700;
    }
    .address {
      font-size: 13px;
      font-weight: 600;
      color: var(--gray-dark);
    }
    .kitchen_block {
      display: flex;
      flex-direction: row;
      gap: 8px;
      .kitchen_item {
        margin-top: 14px;
        background-color: var(--gray-light);
        padding: 4px 30px;
        border-radius: 100px;
        color: var(--gray-dark);
        font-size: 12px;
        font-weight: 600;
        padding: 4px 10px;
        .kitchen_ico {
          width: 12px;
          height: 12px;
          margin-right: 8px;
        }
      }
    }
  }
}
