.root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  position: relative;
  gap: 20px;
  @media only screen and (max-width: 600px) {
    flex-direction: column;
  }
  .promo_item {
    max-width: 100%;
  }
}
