.root {
  position: fixed;
  top: 58px;
  right: 0;
  z-index: 100;
  width: 150px;
  height: 200px;
  display: flex;
  background-color: var(--gray-light);
  ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;

    li {
      color: var(--black);
      font-weight: 700;
    }
  }
}
