.root {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  top: 0;
  position: sticky;
  background-color: var(--white);
  .logo_side {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 48px;
    .search {
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: var(--gray-light);
      color: #83859c;
      width: 220px;
      padding: 10px;
      border-radius: 12px;
      input {
        width: 100%;
      }
    }
  }
}
