html {
  overflow-y: scroll;
  background-color: #fff;
  scroll-behavior: smooth;
  font-family: 'Nunito';
  position: relative;
  justify-content: flex-start;
  overflow-x: hidden;
  min-height: 100vh;
}
.appWrapper {
  max-width: 1110px;
  margin: 0 auto;
  @media only screen and (max-width: 1109px) {
    padding: 0 25px;
  }
}
a,
p,
li {
  color: var(--black);
}
input,
button,
a,
h2,
h3,
h4,
p,
ul {
  all: unset;
}
button,
a {
  cursor: pointer;
}
