html {
  overflow-y: scroll;
  background-color: #fff;
  scroll-behavior: smooth;
  font-family: 'Nunito';
  position: relative;
}
.appWrapper {
  max-width: 1110px;
  margin: 0 auto;
}
a,
p,
li {
  color: var(--black);
}
input,
button,
a,
h2,
h3,
h4,
p,
ul {
  all: unset;
}
button,
a {
  cursor: pointer;
}
