.modal {
  z-index: 10;
  position: sticky;
  top: 10%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: white;
  width: 57%;
  padding: 15px;
  height: 80vh;
  background-color: var(--lightest);
  border-radius: 30px;
  gap: 30px;
  margin: 0 auto;

  @media only screen and (max-width: 1100px) {
    width: 90vw;
  }
  @media only screen and (max-width: 900px) {
    flex-direction: column;
    overflow-y: scroll;
  }

  .title {
    color: black;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .settings {
    @media only screen and (max-width: 900px) {
      width: 100%;
    }
    .settingsList {
      display: flex;
      flex-direction: column;
      gap: 12px;
      list-style: none;
      list-style-type: none;
      .settingsItem {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 12px;
        padding: 16px;
        border-radius: 16px;
        outline: 1px solid var(--gray-light);
        &:hover {
          outline: 2px solid var(--main);
          cursor: pointer;
        }
        .settingsIco {
          background-color: var(--gray-light);
          stroke: var(--gray);
          padding: 10px;
          border-radius: 12px;
        }
        .settingsIcoActive {
          background-color: var(--main);
          stroke: white;
          padding: 10px;
          border-radius: 12px;
        }
        .settingsText {
          display: flex;
          flex-direction: column;
          .settingsTitle {
            font-weight: 800;
            font-size: 14px;
          }
          .settingsDescription {
            font-weight: 400;
            font-size: 13px;
          }
        }
      }
    }
  }
  .category {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: black;
    .options {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      @media only screen and (max-width: 1100px) {
        flex-direction: column;
      }
      gap: 16px;
      .optionsChange {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .optionsInput {
          width: 15vw;
          border: 1px solid black;
          padding: 12px;
          border-radius: 8px;
          @media only screen and (max-width: 1100px) {
            width: 90%;
          }
        }
      }
      .optionsBtns {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @media only screen and (max-width: 600px) {
          flex-direction: column;
          align-items: center;
          gap: 15px;
        }

        button {
          text-align: center;
          font-size: 14px;
          font-weight: 800;
          border-radius: 8px;
          padding: 12px 16px;
        }
        button:first-child {
          color: var(--red);
          border: 2px solid var(--red);
          width: 90px;
        }
        .logOutBtn {
          color: var(--red);
          border: 2px solid var(--red);
          width: 90px;
        }
        .saveBtn {
          color: white;
          background-color: var(--main);
        }
      }
    }
  }
}
.closeBtn {
  color: var(--main);
  position: absolute;
  right: 30px;
  top: 15px;
  font-weight: 800;
  font-size: 24px;
}
